:root {
	--green: #07a136;
	--gray: #b8bbba;
	--light-grey: #f7f7f7;
	--dark: #0e1010;
	--bg-color: #e9fcfc;
	--trans: all 0.3s ease-in-out;
}
img {
	border-radius: 8px;
}
*{
	margin: 0;
	padding: 0;
}
body {
	background: var(--bg-color);
}
.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: transparent;
	padding: 1rem 0;
	z-index: 999;
}
.navbar .container {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.fa-shoe-prints {
	color: rgb(70, 67, 67);
}

/*Footer_bottom
---------------------*/

.footer_bottom {
	padding: 12px 0;
	background: #363636;
}
.footer_bottom {
	width: 100%;
	padding: 5px 0;
	z-index: 1;
	justify-content: space-around;
	display: flex;
}
.footer_bottom ul li {
	color: #fff;
}
.site-brand {
	color: #fff;
	font-size: 2.4rem;
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	opacity: 0.95;
	
}
.brand-logo-1 {
	text-align: center;
	border: 1px outset #eee;
	max-width: 100%;
}
.site-brand span {
	font-weight: 800;
	font-size: 2.8rem;
 font-family: 'Dancing Script', cursive;;
}
.green {
	color: #057017;
}
.yellow {
	color: #f3e30a;
}
.red {
	color: #dd0707;
}
.site-brand h6 {
	position: absolute;
	top: 30px;
	left: 110px;
	font-size: 22px;
	font-family: Franklin Gothic Medium;
	font-style: oblique;
	color: #0ec0ec;
}
.site-brand img {
	border-radius: 10px;
}
.star {
	color: gold;
}
.fas1{
	color: rgb(230, 20, 20);
}
#navbar-show-btn {
	background: none !important;
	font-size: 2rem;
	opacity: 0.9;
	-webkit-transition: var(--trans);
	-o-transition: var(--trans);
	transition: var(--trans);
	border: none;
}


/* navbar side menu */
#navbar-collapse {
	overflow-x: hidden;
	transition: 0.5s;
	background-color: hsl(120, 100%, 25%);
	background-color: hsla(120, 100%, 25%, 0.8);
	position: fixed;
	top: 0;
	right: 0;
	width: 300px;
	height: 50%;
	padding: 2rem;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: var(--trans);
	-o-transition: var(--trans);
	transition: var(--trans);
}
.navbar-collapse-rmw {
	/* js related */
	-webkit-transform: translateX(0) !important;
	-ms-transform: translateX(0) !important;
	transform: translateX(0) !important;
}
#navbar-close-btn {
	background: #080808!;

	width: 35px;
	height: 35px;
	border-radius: 0.2rem;
	font-size: 2rem;
	-webkit-transition: var(--trans);
	-o-transition: var(--trans);
	transition: var(--trans);
	position: absolute;
	right: 1rem;
	top: 2rem;
	border: none;
}
#navbar-close-btn:hover {
	background-color: #fff;
	color: var(--black);
}
.navbar-nav {
	margin-top: 5rem;
}
.nav-item {
	margin: 1.6rem 0;
}
.nav-link {
	color: #fff;
	font-size: 1.4rem;
	-webkit-transition: var(--trans);
	-o-transition: var(--trans);
	transition: var(--trans);
	font-family: Georgia;
}
.nav-link:hover {
	opacity: 0.8;
}

/* header */
header {
	min-height: 100vh;
	padding-top: 7rem;
	background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(rgba(0, 0, 0, 0.4)),
			to(rgba(0, 0, 0, 0.4))
		),
		url(../images/big-img-5.jpg) center/cover no-repeat;
	background: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url(../images/big-img-5.jpg) center/cover no-repeat;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url(../images/big-img-5.jpg) center/cover no-repeat;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	color: rgb(240, 237, 234);
	text-align: center;
	background-position: top;
}
.header-title h1 {
	font-size: 2.5rem;
	letter-spacing: 2px;
	/* -webkit-animation: bounce-in-top 1.1s both;
	animation: bounce-in-top 1.1s both; */
	color: #40f00b;
	font-family: "Helvetica Ne";
}
.header-title p {
	margin: 1.5rem auto;
	max-width: 700px;
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1.5;
	text-align: left;
}


.header-form {
	background: rgba(41, 15, 15, 0.3);
	padding: 3rem;
	border-radius: 20px;
}
.header-form h3 {
	font-size: 1.2rem;
}
.header-form form {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-top: 1.8rem;
}
.header-form form .form-control {
	-webkit-box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
}
.header-form input[type="date"] {
	text-transform: uppercase;
}
.header-form input:not([type="submit"])::-webkit-input-placeholder {
	color: #fff;
}
.header-form input:not([type="submit"])::-moz-placeholder {
	color: #fff;
}
.header-form input:not([type="submit"]):-ms-input-placeholder {
	color: #fff;
}
.header-form input:not([type="submit"])::-ms-input-placeholder {
	color: #fff;
}
.header-form input:not([type="submit"])::placeholder {
	color: #fff;
}
::-webkit-calendar-picker-indicator {
	-webkit-filter: invert(1);
	filter: invert(1);
}
.header-form .btn {
	margin-top: 0.8rem;
}
.nav-link {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.nav-link:hover {
	opacity: 8;
	color: #0fc74c !important;
}
/* change background on scroll */
.navbar-cng {
	background-color: #e6a210;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(48, 48, 48, 0.2);
	box-shadow: 0px 4px 5px 0px rgba(48, 48, 48, 0.2);
	-webkit-transition: var(--trans);
	-o-transition: var(--trans);
	transition: var(--trans);
	overflow: hidden;
}

.navbar-cng .nav-link:hover {
	color: #0fc74c !important;
}

.navbar-cng .site-brand {
	color: var(--light);
}

.navbar-cng .green {
	color: #057017;
}
.navbar-cng .yellow {
	color: #f3e30a;
}
.navbar-cng .red {
	color: #dd0707;
}
.navbar-cng #navbar-show-btn {
	color: var(--light);
}

/* featured */
.featured-item {
	position: relative;
	width: 100%;
	overflow: hidden;
	-webkit-transition: var(--trans);
	-o-transition: var(--trans);
	transition: var(--trans);
}
.featured-item::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(transparent),
		color-stop(18%, transparent),
		color-stop(99%, rgba(0, 0, 0, 0.8)),
		to(rgba(0, 0, 0, 0.8))
	);
	background: -o-linear-gradient(
		top,
		transparent 0%,
		transparent 18%,
		rgba(0, 0, 0, 0.8) 99%,
		rgba(0, 0, 0, 0.8) 100%
	);
	background: linear-gradient(
		to bottom,
		transparent 0%,
		transparent 18%,
		rgba(0, 0, 0, 0.8) 99%,
		rgba(0, 0, 0, 0.8) 100%
	);
}
.featured-item-content {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	color: #fff;
	width: 100%;
	padding: 1rem;
	-webkit-transform: translateY(68%);
	-ms-transform: translateY(68%);
	transform: translateY(68%);
	-webkit-transition: var(--trans);
	-o-transition: var(--trans);
	transition: var(--trans);
}
.featured-item-content span {
	font-size: 1.2rem;
	display: block;
	margin-bottom: 1.2rem;
	text-transform: capitalize;
}
.featured-item-content .text {
	color: #fff;
	-webkit-transition: var(--trans);
	-o-transition: var(--trans);
	transition: var(--trans);
}
.featured-item:hover .featured-item-content {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

/* services */
#services {
	background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(rgba(0, 0, 0, 0.5)),
			to(rgba(0, 0, 0, 0.5))
		),
		url(../images/big-img-6.jpg) center/cover no-repeat;
	background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../images/big-img-6.jpg) center/cover no-repeat;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../images/big-img-6.jpg) center/cover no-repeat;
}
#services * {
	color: rgb(238, 230, 230);
}
.services-item {
	text-align: left;
	padding: 2rem 0.5rem;
	margin: 2rem 0;
}
.services-icon {
	font-size: 3.2rem;
	color: #babcdd !important;
	background: rgba(248, 248, 248, -9);
}
.services-item h3 {
	margin: 1rem 0;
	font-size: 1.6rem;
}
.services-item .btn {
	margin-top: 1.6rem;
	display: inline-block;
}

/* testimonials */
#testimonials {
	background-color: var(--light-grey);
}
.test-item {
	border: 2px solid var(--light-grey);
	padding: 2rem 1rem;
	position: relative;
	background-color: #fff;
	border-radius: 0.2rem;
	margin: 2rem 0 14rem 0;
}
.test-item::after {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
}
.test-item-info {
	position: absolute;
	top: 110%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: center;
}
.test-item-info img {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	margin: 1rem;
}
.test-item-info h3 {
	font-size: 1rem;
}

/* video */
.video-wrapper {
	height: 500px;
	position: relative;
}
.video-wrapper video {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
#play-btn {
	position: absolute;
	z-index: 5;
	width: 70px;
	height: 70px;
	background-color: var(green);
	color: rgb(235, 20, 20);
	border: none;
	border-radius: 50%;
	font-size: 1.8rem;
	padding-left: 0.4rem;
	-webkit-transition: var(--trans);
	-o-transition: var(--trans);
	transition: var(--trans);
}
#play-btn:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

/* footer */
footer {
	background-color: #121213 !important;
	color: #fff;
	text-align: center;
	position: relative;
}
footer::before {
	content: "";
	position: absolute;
	background-color: var(--gray);
	height: 2px;
	top: 0;
	left: 0;
	width: 100%;
}
footer .site-brand {
	margin-bottom: 1.5rem;
	display: block;
	font-size: 2rem !important;
}
.footer-item {
	margin: 3rem 0;
}
.footer-item a {
	color: #fff;
	-webkit-transition: var(--trans);
	-o-transition: var(--trans);
	transition: var(--trans);
}
.footer-item a:hover {
	color: #c7f010;
}
.footer-item ul {
	padding: 0;
}
.footer-item h2 {
	margin-bottom: 1.4rem;
}
.social-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	
}
.social-links li {
	margin: 0.5rem;
}
 .fab{
	color: #fff!important;
}
.footer-item:nth-child(3) li {
	margin: 0.5rem 0;
}
.footer-item:nth-child(3) a {
	display: inline-block;
	font-size: 1rem;
	opacity: 0.7;
}
.subscribe-form form {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.subscribe-form form input {
	width: 100%;
	max-width: 300px;
}
.subscribe-form .form-control {
	border-color: rgba(255, 255, 255, 0.3);
	-webkit-transition: var(--trans);
	-o-transition: var(--trans);
	transition: var(--trans);
}
.subscribe-form .form-control:focus {
	border-color: #fff;
}
.subscribe-form form input[type="email"]::-webkit-input-placeholder {
	color: #fff;
	opacity: 0.3;
}
.subscribe-form form input[type="email"]::-moz-placeholder {
	color: #fff;
	opacity: 0.3;
}
.subscribe-form form input[type="email"]:-ms-input-placeholder {
	color: #fff;
	opacity: 0.3;
}
.subscribe-form form input[type="email"]::-ms-input-placeholder {
	color: #fff;
	opacity: 0.3;
}
.subscribe-form form input[type="email"]::placeholder {
	color: #fff;
	opacity: 0.3;
}

/* ### GALLERY PAGE ### */
header.header-sm {
	min-height: 60vh;
}
/* gallery */
.gallery-item {
	margin: 2rem 0;
	overflow: hidden;
	position: relative;
	-webkit-transition: var(--trans);
	-o-transition: var(--trans);
	transition: var(--trans);
	cursor: pointer;
}
.gallery-item::after {
	content: "";
	z-index: 1;
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(transparent),
		color-stop(18%, transparent),
		color-stop(99%, rgba(0, 0, 0, 0.8)),
		to(rgba(0, 0, 0, 0.8))
	);
	background: -o-linear-gradient(
		top,
		transparent 0%,
		transparent 18%,
		rgba(0, 0, 0, 0.8) 99%,
		rgba(0, 0, 0, 0.8) 100%
	);
	background: linear-gradient(
		to bottom,
		transparent 0%,
		transparent 18%,
		rgba(0, 0, 0, 0.8) 99%,
		rgba(0, 0, 0, 0.8) 100%
	);
}
.gallery-item img {
	-webkit-transition: var(--trans);
	-o-transition: var(--trans);
	transition: var(--trans);
}
.gallery-item:hover img {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.gallary-info {
	position: absolute;
	top: 50%;
	left: 48%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 2rem;
	color: #fff;
	z-index: 2;
	text-align: center;
	opacity: 0;
	-webkit-transition: var(--trans);
	-o-transition: var(--trans);
	transition: var(--trans);
}

.gallery-item:hover .gallary-info {
	opacity: 1;
}
/* hotels */
.w3-panel{
	text-align: center!important;
	color: #ebf3ef!important;
	
}
.reservation input, button{
	background: #8584841a!important;
	-ms-flex-direction: column!important;
	flex-direction: row!important;
	box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4)!important;
}
.w3-red{
font-size:20px;	
}
.reservation input[type="date"] {
    text-transform: uppercase!important;
	max-width: 500px!important;
	color: #156bc1!important;
	font-size:1.0rem!important;
	background: rgb(233, 230, 230) !important;
}
.reservation input[type="text"] {
   	max-width: 500px!important;
	color: #156bc1!important;
	font-size:1.1rem!important;

}
.reservation input[type="number"] {
    text-transform: uppercase!important;
	max-width: 500px!important;
	color: #156bc1!important;
	font-size:1.1rem!important;
	background: rgb(233, 230, 230) !important;
}
.reservation {
	font-size:1.1rem;
	color: #156bc1;
	background:#ffffff;
	margin-top: 15px;
	padding-bottom: 2rem;
	border-radius:10px;

}

.reservation button {
	background: #156bc1!important;
}
.reservation button:hover {
	background: #156bc1!important;
	color:#f6f7fa!important;
}
.choose:hover {
    color: #fff!important;
    background-color: #69f084!important;
}
.reservation p{
	font-size:1.1rem!important;
	color: rgb(13, 13, 14)!important;
}
.reservation span{
	font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    color: #d32f2f;
    margin-bottom: 0;
}
.room-title{
	margin-bottom: 10px;
}

/* popular section */
#popular.py-4 {
	/* padding-bottom: 0; */
	padding: 0 !important;
}
.popular-item {
	position: relative;
	cursor: pointer;
	overflow: hidden;
	-webkit-transition: var(--trans);
	-o-transition: var(--trans);
	transition: var(--trans);
	padding: 5px;
}
.popular-item::after {
	content: "";
	z-index: 1;
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(transparent),
		color-stop(18%, transparent),
		color-stop(99%, rgba(0, 0, 0, 0.8)),
		to(rgba(0, 0, 0, 0.8))
	);
	background: -o-linear-gradient(
		top,
		transparent 0%,
		transparent 18%,
		rgba(0, 0, 0, 0.8) 99%,
		rgba(0, 0, 0, 0.8) 100%
	);
	background: linear-gradient(
		to bottom,
		transparent 0%,
		transparent 18%,
		rgba(0, 0, 0, 0.8) 99%,
		rgba(0, 0, 0, 0.8) 100%
	);
}
.popular-item div {
	position: absolute;
	color: #fff;
	z-index: 2;

	width: 100%;
	height: auto;
	padding: 2rem;
	-webkit-transition: var(--trans);
	-o-transition: var(--trans);
	transition: var(--trans);
}
.popular-item .rating {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin: 0.7rem 0;
	font-size: 0.9rem;
	opacity: 0.8;
	padding: 0;
}
.popular-item:hover div {
	background-color: #fff;
	color: #000;
	bottom: 0;
	opacity: 0.95;
}

/* blog */
#blog {
	background-color: var(--light-grey);
}
.blog-item {
	background-color: #fff;
	-webkit-transition: var(--trans);
	-o-transition: var(--trans);
	transition: var(--trans);
}
.blog-item-top {
	position: relative;
}
.blog-date {
	position: absolute;
	background-color: var(--green);
	color: #fff;
	padding: 0.5rem;
	height: 38px;
	min-width: 160px;
	text-transform: uppercase;
	letter-spacing: 2px;
	bottom: -19px;
	left: 5%;
}
.blog-item-bottom {
	padding: 2rem 1rem;
}
.blog-item-bottom span {
	text-transform: uppercase;
	color: var(--dark);
	opacity: 0.7;
	letter-spacing: 2px;
	display: block;
	margin-top: 1rem;
}
.blog-item-bottom a {
	margin: 1rem 0;
	font-size: 1.4rem;
	display: block;
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	line-height: 1.6;
	-webkit-transition: var(--trans);
	-o-transition: var(--trans);
	transition: var(--trans);
}
.blog-item-bottom a:hover {
	opacity: 0.8;
}

/* ### ABOUT PAGE ### */
/* about */
.about-right .text {
	margin-bottom: 1rem;
}
.about-right h2 {
	margin-bottom: 2.5rem;
}
.about-left img {
	border-radius: 20px;
	box-shadow: 20px 20px 10px rgb(104, 103, 103);
}

/* facts */
#facts {
	background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			from(rgba(0, 0, 0, 0.5)),
			to(rgba(0, 0, 0, 0.5))
		),
		url(../images/services-bg.jpg) center/cover no-repeat;
	background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../images/services-bg.jpg) center/cover no-repeat;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../images/services-bg.jpg) center/cover no-repeat;
	min-height: 80vh;
}
#facts .title-wrap {
	color: #fff;
}
#facts .sm-title {
	color: #fff;
}
.facts-item {
	color: #fff;
	text-align: center;
	padding: 2rem 0;
}
.facts-icon {
	font-size: 3.2rem;
	color: #babcdd !important;
	background: rgba(248, 248, 248, 0.2);
}
.facts-info strong {
	font-size: 2rem;
	display: block;
	margin: 1rem 0;
}
.facts-info .text {
	text-transform: uppercase;
}

/* ### CONTACT PAGE ### */
/* contact */
.contact-form .form-control {
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: #000;
	display: block;
	margin: 1.6rem auto;
}
.contact-form .btn {
	display: block;
	margin: auto;
}
.contact-icon {
	background-color: var(--green);
	color: #fff;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin: 1rem auto;
	font-size: 2rem;
}
.contact-item {
	text-align: center;
	margin: 3rem 0;
}
.contact-item div span {
	font-weight: 600;
	font-family: "Ralway", sans-serif;
	font-size: 1.2rem;
	display: block;
	margin-bottom: 1rem;
}
